<section>
  <%= form_tag root_path do %>
    <div class="header-search-wrapper">
      <i class="material-icons">search</i>
      <input type="text" name="query" class="header-search-input z-depth-2"
        placeholder="Pesquisar" id="search" value="<%= @query if @query %>">
    </div>
    <button class="btn dictionary-submit waves-effect waves-light" type="submit"
      name="action" id="search-button">Buscar</button>
  <% end %>
</section>
