.logo-wrapper {
  margin: 0 10px;

  img {
    width: 60px;
    height: 60px;

    @media only screen and (max-width: 500px) {
      width: 30px;
      height: 30px;
    }
  }

  @media only screen and (max-width: 500px) {
    line-height: 1 !important;

    a {
      display: block;
      margin: -5px;
    }
  }
}

.main-logo {
  position: absolute;
  left: 0;
  display: block;
}

nav .brand-logo {
  height: 60px;
  padding-left: 10px;
}
