<% conjugation_for_person = conjugation.send(pronoun) %>

<% if conjugation_for_person %>
  <td>(<%= pronoun.capitalize %>)</td>
  <td><input type="text" /></td>
  <td class="hide answer">(<%= strip_tags(conjugation_for_person) %>)</td>
<% end %>
