<div class="row">
  <div class="col s2 offset-s5 center-align">
    <div class="challenge-accepted"></div>
    <%= form_tag challenges_path, method: :post do %>
      <button class="btn challenge-submit waves-effect waves-light" type="submit"
        name="action" id="new-challenge">Try me</button>
    <% end %>
  </div>
</div>

<% if @verb %>
  <div class="row">
    <div class="col s12">
      <%= render 'shared/card', title: @verb.verb do %>
      ...
      <% end %>
    </div>
  </div>
<% end %>
