<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color purple darken-4">
      <div class="nav-wrapper">

        <div class="col s1 left">
          <h1 class="logo-wrapper">
            <%= link_to root_path, { class: 'darken-1' } do %>
              <%= image_tag 'logo.png' %>
            <% end %>
          </h1>
        </div>


        <ul class="right">
          <li>
            <%= link_to challenges_path do %>
              <i class="fa fa-icon fa-handshake-o"></i> <span class="hide-on-small-only">Challenge</span>
            <% end %>
          </li>
          <li>
            <%= link_to conjugation_path do %>
              <i class="fa fa-icon fa-bullhorn"></i> <span class="hide-on-small-only">Conjugate</span>
            <% end %>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-icon fa-clone"></i> <span class="hide-on-small-only">Compare</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
